<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link
         rel="stylesheet" 
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

</head>
<body>
    <div class="container">
        <!-- Add Jumbotron to Header -->
        <div class="jumbotron text-center">
            <h1 >Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape"
                        role="button">Scrape New Data</a></p>
        </div>
    </div>
        <!-- Add section for Mars News -->
        <div class="row" id="mars-news">
            <div class="col-md-12">
              <div class="media">
                <div class="media-body">
                  <h2 >Latest Mars News</h2>
                  <h4 class="media-heading">{{ mars.news_title }}</h4>
                  <p>{{ mars.news_paragraph }}</p>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Section for Featured Image and Facts table -->
          <div class="row" id="mars-featured-image">
            <div class="col-md-8">
              <h2 >Featured Mars Image</h2>
    
              <!-- if images is False/None/non-existent, then default to error message -->
              <img
                src="{{mars.featured_image | default('static/images/error.png', true) }}"
                class="img-responsive"
                alt="Responsive image"
              />
            </div>
    
            <div class="col-md-4">
              <!-- Mars Facts -->
              <div class="row" id="mars-facts">
                 <h4><b>Mars Facts</b></h4>
                  <table >{{ mars.facts | safe }}</table>   
              </div>
            </div>
          </div>
        </div>

        <!-- Section for Hemisphere title and image -->
        <!-- Add a heading for Mars Hemispheres  -->
        <div class="row" id="mars-news">
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <h2 >Mosaic of Mars Hemispheres</h2>
               </div>
            </div>
          </div>
        </div>
        <!--Loop in all four images and display them as thumbnail images-->        
        {% for hemisphere in mars.hemi_data %}
        <div class="col-md-3">
          <div class="row" id= "hemisphere-1"
             <h4 style="text-align: center;"><b> {{hemisphere.title}}</b> </h4>
               <img
                src="{{hemisphere.img_url| default('static/image/error.png',true)}}"
                class="img-thumbnail"
                class="img-responsive"
                alt="Responsive image"
                />
            </div>
          </div>
          {% endfor %}
          
 </body>
</html>